<h1 mat-dialog-title>Schedule</h1>

<div mat-dialog-content>
  <ul>
    <li *ngFor="let item of data; trackBy: trackBy('TripID')">
      <span class="route">{{item.route}}:</span>
      <ng-container *ngFor="let time of item.arrivals; let last = last">
        {{time | date: 'shortTime'}}
        <ng-container *ngIf="!last">,</ng-container>
      </ng-container>
    </li>
  </ul>
</div>

<div mat-dialog-actions class="dialog-actions">
  <button mat-flat-button mat-dialog-close cdkFocusInitial>Close</button>
</div>
