li {
  list-style-type: none;
  font-size: 14px;
  color: #e5e5e5;
  padding-bottom: 8px;
}

.route {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

.dialog {

  &-actions {
    display: flex;
    justify-content: flex-end;
  }
}
