<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
>

  <!-- bus stops -->
  <ng-container *ngIf="showBusStops">
    <ng-container *ngFor="let busStop of visibleBusStops; trackBy: trackBy('RouteID'); let index = index">
      <agm-marker
        [latitude]="busStop.Lat"
        [longitude]="busStop.Lon"
        (markerClick)="onBusStopClick(index)"
      ></agm-marker>
      <agm-info-window
        [isOpen]="visibleInfobox === index"
        [latitude]="busStop.Lat"
        [longitude]="busStop.Lon"
      >
        <app-bus-stop-info [busStop]="busStop"></app-bus-stop-info>
      </agm-info-window>
    </ng-container>
  </ng-container>
  <!-- /bus stops -->

  <!-- states -->
  <ng-container *ngIf="showUSAStates">
    <ng-container *ngFor="let state of states; trackBy: trackBy('name'); let index = index">
      <agm-polygon
        [paths]="state.coords"
        [strokeColor]="state.color"
        [fillColor]="state.color"
        [fillOpacity]="0.3"
        (polyMouseOver)="visibleInfobox = index"
        (polyMouseOut)="visibleInfobox = null"
      ></agm-polygon>
      <agm-info-window
        *ngIf="showStatesInfo"
        [isOpen]="visibleInfobox === index"
        [latitude]="state.center.lat"
        [longitude]="state.center.lng"
      >
        {{state.name}}
      </agm-info-window>
    </ng-container>
  </ng-container>
  <!-- /states -->

</agm-map>
<!--<div class="map"></div>-->
