<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="spacer"></span>
    <button mat-button [color]="isLogin ? '' : 'accent'" (click)="isLogin = true">Login</button>
    <button mat-button [color]="!isLogin ? '' : 'accent'" (click)="isLogin = false">Register</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="login-form-container">

  <h1>{{isLogin ? 'Login' : 'Register'}}</h1>

  <form class="login-form" [formGroup]="loginForm">

    <div class="alert-error" *ngFor="let error of errors" [@fadeInOut]>
      {{error}}
    </div>

    <mat-form-field class="login-form-row">
      <input matInput placeholder="name.surname@mail.com" [formControl]="loginForm.get('email')" email/>
      <mat-label>Email</mat-label>
      <mat-error *ngIf="loginForm.get('email').hasError('required')">This field is required</mat-error>
      <mat-error *ngIf="loginForm.get('email').hasError('email')">Please enter a valid email</mat-error>
    </mat-form-field>

    <mat-form-field class="login-form-row">
      <input matInput placeholder="******" type="password" [formControl]="loginForm.get('password')"/>
      <mat-label>Password</mat-label>
      <mat-error *ngIf="loginForm.get('password').hasError('required')">This field is required</mat-error>
      <mat-error *ngIf="loginForm.get('password').hasError('minlength')">
        Please enter at least {{loginForm.get('password').errors['minlength']['requiredLength']}} symbols
      </mat-error>
    </mat-form-field>

    <div class="login-form-row">
      <button mat-stroked-button color="primary" (click)="submitForm()">
        {{isLogin ? 'Login' : 'Register'}}
      </button>
    </div>

  </form>

</div>
