.login-form {
  width: 100%;
  max-width: 400px;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 64px);
  }

  &-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
