<h1>Filters</h1>

<form [formGroup]="filtersForm" class="filters-form">

  <ng-container *ngIf="isUSA">

    <!-- States -->
    <mat-checkbox formControlName="states">Show States</mat-checkbox>
    <!-- /States -->

    <!-- States Names -->
    <mat-checkbox formControlName="statesInfo">Show States Names on Hover</mat-checkbox>
    <!-- /States Names -->

  </ng-container>

  <ng-container *ngIf="isWashington">

    <!-- Radius -->
    <span class="label">Radius (km)</span>
    <mat-slider
      class="full-width"
      min="0.1"
      max="20"
      step="0.1"
      thumbLabel="true"
      formControlName="radius"
    ></mat-slider>
    <!-- /Radius -->

    <!-- Routes -->
    <span class="label">Routes</span>
    <mat-select
      multiple
      placeholder="Visible Routes Stops"
      formControlName="routes"
    >
      <mat-option #allSelected value="all" (click)="toggleAllSelection()">
        <mat-checkbox
          [checked]="allRoutesChecked()"
        ></mat-checkbox>
        All
      </mat-option>
      <mat-option
        *ngFor="let route of routes"
        [value]="route.RouteID"
        (click)="optionClick()"
      >
        <mat-checkbox
          [checked]="routeSelected(route)"
        ></mat-checkbox>
        {{route.Name}}
      </mat-option>
    </mat-select>
    <!-- /Routes -->

  </ng-container>

</form>

<button mat-button (click)="submitFilters()">Submit</button>
