:host {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.filters-form {
  flex-grow: 1;
}

.label {
  padding: 16px 0;
  box-sizing: border-box;
  display: block;
}

.full-width {
  width: 100%;
}
