<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="spacer"></span>

    <mat-tab-group color="accent" [selectedIndex]="filtersState" (selectedIndexChange)="changeFiltersView($event)">
      <mat-tab label="Washington"></mat-tab>
      <mat-tab label="USA"></mat-tab>
    </mat-tab-group>

    <span class="spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <!--<button mat-menu-item>-->
      <!--<mat-icon>person</mat-icon>-->
      <!--Profile-->
      <!--</button>-->
      <button mat-menu-item (click)="signOut()">
        <mat-icon>logout</mat-icon>
        Sign Out
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container>

  <!-- Map filters -->
  <mat-drawer mode="side" position="end" [opened]="filtersOpened">
    <app-filters [type]="filtersType"></app-filters>
  </mat-drawer>
  <!-- /Map filters -->

  <!-- Map -->
  <mat-drawer-content>
    <app-map class="map"></app-map>
  </mat-drawer-content>
  <!-- /Map -->

</mat-drawer-container>

<button mat-icon-button class="menu-button" (click)="filtersOpened = !filtersOpened">
  <mat-icon>menu</mat-icon>
</button>
