@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "scss/main";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $theme-background-color;
  color: #fff;
}

h1, h2, h3, h4, h5, h5, input {
  color: #fff;
}

h1 {
  text-transform: uppercase;
}

.spacer {
  flex: 1 1 auto;
}
