@import "material_theme";

%alert {
  padding: $point * 2;
  color: $theme-text-color;
  border-radius: $point;
  margin-bottom: $point * 3;
  font-size: 13px;
}

.alert {

  &-error {
    @extend %alert;
    background-color: $theme-primary-color;
  }
}
