@import '~@angular/material/_theming.scss';

@include mat-core();

$theme-background-color: map-get($mat-dark-theme-background, background);
$theme-text-color: #fff;
$theme-primary-color: map-get($mat-pink, 500);
